# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.env

# Backups & Snapshots
project_snapshot.txt
*.bak

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.gemini/
.DS_Store
Thumbs.db
